<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Produto</title>
    {{ bootstrap.load_css() }}
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            max-width: 400px;
            width: 100%;
        }
        .product-info {
            margin-top: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Consulta de Produto</h1>
        <form method="POST" action="{{ url_for('itens.search') }}">
            <div class="form-group">
                <label for="ean_code">Digite o código EAN:</label>
                <input type="text" class="form-control" id="ean_code" name="ean_code" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Consultar</button>
        </form>

        {% if product_info %}
            <div class="media text-muted pt-3">
                {% if product_info.has_image %}
                    <img src="{{ product_info.image_url }}" alt="{{ product_info.name }}" class="mr-3 rounded" width="64" height="64">
                {% else %}
                    <svg class="bd-placeholder-img mr-3 rounded" width="64" height="64" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Imagem não disponível">
                        <rect width="100%" height="100%" fill="#007bff"/>
                        <text x="50%" y="50%" fill="#ffffff" dy=".3em">Imagem não disponível</text>
                    </svg>
                {% endif %}
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark">{{ product_info.name }}</strong>
                        <a href="{{ url_for('itens.create', name=product_info.name,  description=product_info.description, quantity=product_info.quantity) }}" class="btn btn-link">Adicionar</a>

                    </div>
                    <span class="d-block">{{ product_info.description }}</span>
                    <span class="d-block"><strong>Quantidade:</strong> {{ product_info.quantity }}</span>
                </div>
            </div>
        {% endif %}

    </div>
    {{ bootstrap.load_js() }}
</body>
</html>
